.main{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.shop-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:45px;
    margin-left: 104px;
    margin-top: 120px;
}
.order-container{
    background-color: rgba(255, 153, 0, 0.3);
}
.review-button button{
    border: none;
    background-color: rgba(127, 170, 255, 0.353);
    padding: 10px;
    border-radius: 20px;
}

.pagination .selected{
    background-color: brown;
    color: aliceblue;
}